amaria_volume.txt
/data/race/advancement/checkpoints/
/data/race/function/setup/*
/data/race/function/checkpoints.mcfunction
/data/race/function/resetcheckpoints.mcfunction
/data/race/function/checkpoints/*